
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hidden {
	visibility: hidden;
}

#left-screen-background-image {
  z-index: -999;
  min-height: 100%;
  width: 25%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#middle-screen-background-image {
  z-index: -999;
  min-height: 100%;
  width: 65%;
  height: auto;
  position: fixed;
  top: 0;
  left: 25%;
}

#right-screen-background-image {
  z-index: -999;
  min-height: 100%;
  width: 10%;
  height: auto;
  position: fixed;
  top: 0;
  left: 90%;
}

#wrapper {
  position: relative;
  min-height: 400px;
  margin: 40px auto;
}

#tableContainer {
  position: relative !important;
  table-layout: auto;
  width: 62% !important;
}

#headerTitle {
	color: white;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 38px;
	position: relative;
    top: 20px;
    left: 30px;
}

A:link {text-decoration: none; color: #ffffff;}
A:visited {text-decoration: none; color: #ffffff;}
A:active {text-decoration: none; color: #ffffff;}
A:hover {text-decoration: underline; color: #cccccc;}

.nowrap {
    white-space: nowrap;
}
.titleHead {
    margin: 0px 0px 6px 0px;
}

.tableHeader {
	color: white;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 18px;
	font-weight: bold;
}

#championshipLink {
    float: right;
    text-decoration: underline;
}