#menuContainer {
    color: white;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 25px;
	font-weight: bold;
}

#menuResults {
    position: fixed;
    left: 90.4%;
    top: 17%;
    z-index: 101;
}

#menuStandings {
    position: fixed;
    left: 90%;
    top: 27%;
    z-index: 101;
}

#menuRounds {
    position: fixed;
    left: 90.4%;
    top: 37%;
    z-index: 101;
}

#menuPayouts {
    position: fixed;
    left: 90%;
    top: 48%;
    z-index: 101;
}

#menuLeague {
    position: fixed;
    left: 90.4%;
    top: 59.5%;
    z-index: 101;
}

#menuVariants {
    position: fixed;
    left: 90%;
    top: 69.7%;
    z-index: 101;
}
