#menuContainer {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 20px;
	font-weight: bold;
	position: fixed;
	z-index: 101;
	left: 25%;
	top: 50px;
}

#menuTable {
   display: table;
   width: 90%;
   table-layout: fixed;
}
