#menuContainer {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	z-index: 101;
	left: 25%;
	top: 10px;
}

#menuTable {
   display: table;
   width: 68%;
   table-layout: fixed;
}
